.DS_Store
flush.log
backup/
model/
data/
ctpn/data_generator/font/
ctpn/data_generator/data_generator.zip
ctpn/data_generator/background/
ctpn/data_generator/info.txt
data/train/
log.txt
__pycache__/
cache/
pretrain/
VOCdevkit2007/
logs/
logs_*/
output/
build/
dist/
checkpoints/
checkpoints_*/
.idea/
*.py[cod]
*.c[cod]
*.so
*.swp
*.pb
*.ckpt
*.pyx
